{% load static %}
<html>
<head>
<title>Dasmariñas Online LET Review Site</title>
<link rel="stylesheet"  type="text/css" href="{% static 'CSS/general.css' %}">
   </head>
<body style="background-image: url('{% static 'IMAGE/book4.jpeg' %}'); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">
	<ul>
    <li><a href="firstpage.html">Home</a></li>
    <li><a href="reviewcenter.html">Review Center</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Reviewer</a>
      <div class="dropdown-content">
        <a href="reviewer.html">Professional Education</a>
        <a href="reviewer.html">General Education</a>
        <a href="reviewer.html">Technology and Livelihood Education</a>
      </div>
    </li>
    <li><a href="feedback.html">Feedback</a></li>
  </ul>
  <center>
<h1>Feedbacks</h1>
<p>Say anything what you want!</p>
<a>Strengths</a><br>
<textarea rows="4" cols="50" placeholder="State..."></textarea><br><br>
<a>Weaknesses</a><br>
<textarea rows="4" cols="50" placeholder="State..."></textarea><br><br>
<a>Comments</a><br>
<textarea rows="4" cols="50" placeholder="State..."></textarea><br><br>
<a>Suggestions</a><br>
<textarea rows="4" cols="50" placeholder="State..."></textarea><br><br>
<form>
  <button type="submit" formaction="#">Submit</button>
</form>
  </center>
</body>
</html>