{% load static %}
<html>
<head>
  <title>Dasmariñas Online LET Review Site</title>
  <link rel="stylesheet"  type="text/css" href="{% static 'CSS/general.css' %}">
</head>
<body style="background-image: url('{% static 'IMAGE/book.jpg' %}'); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">

  <ul>
    <li><a href="firstpage.html">Home</a></li>
    <li><a href="reviewcenter.html">Review Center</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Reviewer</a>
      <div class="dropdown-content">
        <a href="reviewer.html">Professional Education</a>
        <a href="reviewer.html">General Education</a>
        <a href="reviewer.html">Technology and Livelihood Education</a>
      </div>
    </li>
    <li><a href="feedback.html">Feedback</a></li>
  </ul>
<center>
<h1>Let Review</h1>
<form method="POST" action="reviewcenter.html">
       
<p>Welcome Participants!</p>
<a>Name: <br><input type="text" name="cname" id="cname" placeholder="Complete Name"></a><br><br>
<a>Address: <br><input type="text" name="add" id="add" placeholder="Complete Address"></a><br><br>
<a>Contact: <br><input type="number" name="num" id="num" placeholder="Contact Number"></a><br><br>
<a>School: <br><input type="text" name="school" id="school" placeholder="Name of your school"></a><br><br>
<!-- <a>Course: <br><input type="text" name="course" id="course" placeholder="Your course"></a><br><br>
<a>Birthday: <br><input type="date" name="bday" id="bday" placeholder="Date of Birth"></a><br><br> -->
<!-- <form>
<a><label for="gender">Your Gender:</label>
<select id="gender" name="Gender">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>
</form> -->
<form>
<br><button type="submit">Submit</button>
 {% csrf_token %}
</form></a>
</form>
</center>
</body>
</html>

<!-- <html>
<head>
<title>Technological University of the Philippines - Cavite Campus</title>
</head>
<body>
  <center>
<h1>TUPC</h1>
<p>Welcome TUPCIANS!</p>
<a>Name: <br><input type="text" name="cname" id="cname" placeholder="Complete Name"></a><br><br>
<a>Address: <br><input type="text" name="add" id="add" placeholder="Complete Address"></a><br><br>
<a>Contact: <br><input type="number" name="num" id="num" placeholder="Contact Number"></a><br><br>
<form>
  <a>Applicant</a><br>
  <input type="radio" id="teacher" name="profession" value="teacher">
  <label for="teacher">Teacher</label><br>
  <input type="radio" id="grad" name="profession" value="grad">
  <label for="grad">Graduate</label><br>
</form>
<a>Course: <br><input type="text" name="course" id="course" placeholder="Course"></a><br><br>
<p>Review Style</p>
<button type="button" class="btn btn-default">Self Review</button>
<button type="button" class="btn btn-default">Review Center</button>

  </center>
</body>
</html> -->