{% load static %}
<html>
<head>
<title>Dasmariñas Online LET Review Site</title>
<link rel="stylesheet"  type="text/css" href="{% static 'CSS/general.css' %}">
</head>
<body style="background-image: url('{% static 'IMAGE/book1.jpg' %}'); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">
  <ul>
    <li><a href="firstpage.html">Home</a></li>
    <li><a href="reviewcenter.html">Review Center</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Reviewer</a>
      <div class="dropdown-content">
        <a href="reviewer.html">Professional Education</a>
        <a href="reviewer.html">General Education</a>
        <a href="reviewer.html">Technology and Livelihood Education</a>
      </div>
    </li>
    <li><a href="feedback.html">Feedback</a></li>
  </ul>
  <center>
<h1>Review Center Information</h1>
<form method="POST" action="enrollment.html">
 
<p>Welcome Students!</p>
<a>Name: <br><input type="text" name="reviewcentername" id="reviewcentername" placeholder="Complete Name"></a><br><br>
<a>Address: <br><input type="text" name="reviewcenteradd" id="reviewcenteradd" placeholder="Complete Address"></a><br><br>
<!-- <a>Name: <br><input type="text" name="rname" id="rname" placeholder="Complete Name"></a><br><br>
<a>Address: <br><input type="text" name="add" id="add" placeholder="Complete Address"></a><br><br>
<a>Lecturer's Name: <br><input type="text" name="lname" id="lname" placeholder="Lecturer's Name"></a><br><br>
<a>Payment: <br><input type="number" name="pay" id="pay" placeholder="Payment"></a><br><br> -->
<!-- <a>Course: <br><input type="text" name="course" id="course" placeholder="Course"></a><br><br> -->
<!-- <a>Schedule: <br><input type="datetime-local" name="sched" id="sched" placeholder="Schedule"></a><br><br> -->
<form>
  <button type="submit">Submit</button>
       {% csrf_token %}
</form>
  </center>
</body>
</html>