<html>
<title>Profile</title>
<h1 style="color:red; font-size:33px;">Profile of Student</h1>
<input bold type="text" id="newEntry1" name="Entry1" placeholder="Student Name:">&nbsp<input bold type="text" id="newPlace1" name="Place1" placeholder="Course:">&nbsp
<!-- <input type="submit" value="Confirm"> -->
<input bold type="text" id="newEntry2" name="Entry2" placeholder="Student Number:">&nbsp<!-- <input bold type="text" id="newPlace2" name="Place2" placeholder="Where did you meet&#063">&nbsp -->
<input type="submit" value="Confirm">
</html>
