<html>
<title> KPOP Group</title>
<h1 style="color:red; font-size:33px;">Groups</h1>
<input bold type="text" id="idNewEntry" name="idNewEntry" placeholder="Group name you have seen.">&nbsp<input bold type="text" id="newPlace1" name="Place1" placeholder="Where did you meet&#063">&nbsp
<input type="submit" value="Confirm"><br><br>
<input bold type="text" id="newEntry2" name="Entry2" placeholder="Another Group&#063">&nbsp<input bold type="text" id="newPlace2" name="Place2" placeholder="Saan mo naman nakita&#063">&nbsp
<input type="submit" value="Confirm">
</html>